.todo-h {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.todo-h:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-input {
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.todo-input:focus {
  outline: none;
  border-color: gray;
  box-shadow: 0 0 5px rgba(150, 153, 157, 0.5);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.add-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-button:hover {
  background-color: #45a049;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.list {
  list-style: none;
  font-size: 16px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-left: 150px;
  margin-right: 150px;
}

.list:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  margin-left: 150px;
  margin-right: 150px;
}

.delete {
  background-color: rgb(207, 29, 29);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  background-color: #d9534f;
}
